{% block form %}
<form action="/add-rdv/" method="POST">
    {% csrf_token %}
    <input class="input" type="date" name="date" id="date" required>
    <input class="input" type="time" name="time" id="time" required>
    <input class="input" type="text" name="entreprise" id="entreprise" placeholder="Entreprise" required>
    <input class="input" type="number" name="nombreVisiteur" id="nombreVisiteur" placeholder="Nombre de visiteur"
        required>
    <input class="submit" type="submit" name="submit" id="submit" value="Valider">
</form>
{% endblock %}