{% block rdvs %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure d'arrivée</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>                  
            {% for rdv in rdvs %}
                <tr class="rdv" rdv-id="{{ rdv.id }}">
                    <td>{{ rdv.date }}</td>
                    <td>{{ rdv.time }}</td>
                    <td>{{ rdv.entreprise }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

