{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="{% static 'css/afficheur.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="rdv-container">
        <table>
            <thead>
                <tr>
                    <th>Heure d'arrivée</th>
                    <th>Entreprise</th>
                    <th>Nombre de Visiteur</th>
                </tr>
            </thead>
            <tbody>
                {% for rdv in rdvs %}
                <tr class="rdv" rdv-id="{{ rdv.id }}">
                    <td>{{ rdv.dateTime|date:"H:i" }}</td>
                    <td>{{ rdv.entreprise }}</td>
                    <td>{{ rdv.nombreVisiteur }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>