{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/de7ce9e8e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="titre">Gestion des visiteurs</h1>
        <form action="/add-rdv/" method="POST">
            {% csrf_token %}
            <input class="input datepicker" type="text" name="dateTime" id="myID" placeholder="Date" required>
            <input class="input" type="text" name="entreprise" id="entreprise" placeholder="Entreprise" required>
            <input class="input" type="number" name="nombreVisiteur" id="nombreVisiteur" placeholder="Nombre de visiteur"
                required>
            <input class="submit" type="submit" name="submit" id="submit" value="OK">
        </form>

        <div class="rdv-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure d'arrivée</th>
                        <th>Entreprise</th>
                        <th>Nombre de Visiteur</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for rdv in rdvs %}
                    <tr class="rdv" rdv-id="{{ rdv.id }}">
                        <td>{{ rdv.dateTime|date:"d F Y" }}</td>
                        <td>{{ rdv.dateTime|date:"H:i" }}</td>
                        <td>{{ rdv.entreprise }}</td>
                        <td>{{ rdv.nombreVisiteur }}</td>
                        <td>    
                            <button class="delete-rdv" rdv-id="{{ rdv.id }}" aria-label="Supprimer">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>